# Лабораторная работа 1. Основы языка Python

In [ ]:
# Python 2 and 3 compatibility
# pip install future
from __future__ import (absolute_import, division,
                        print_function, unicode_literals)
from builtins import *

## Задача 1
Вычислите $2^{179}$. Выведите на экран вычисленное значение.

In [1]:
print(2**179)

766247770432944429179173513575154591809369561091801088

## Задача 2
Вычислите 20!. Выведите на экран вычисленное значение.

In [2]:
import math

print(math.factorial(20))

2432902008176640000

## Задача 3
Вычислите длину гипотенузы в прямоугольном треугольнике со сторонами 179 и 971.

In [3]:
import math

print(math.sqrt(179 ** 2 + 971 ** 2))

987.361129475938

## Задача 4
Запишите букву 'A' (латинскую, заглавную) 100 раз подряд. Сдайте на проверку программу, которая выводит эту строчку (только буквы, без кавычек).

In [4]:
 print('A' * 100)

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

## Задача 5
Даны два целых числа. Выведите значение наибольшего из них.

In [5]:
def task_5(a, b):
    print(a if a > b else b)


task_5(67, 68)

68

## Задача 6
Даны два целых числа. Программа должна вывести число 1, если первое число больше второго, число 2, если второе больше первого или число 0, если они равны.

In [6]:
def task_6(a, b):
    print(1 if a > b else 2 if a < b else 0)


task_6(1, 2)
task_6(3, 2)
task_6(2, 2)

2
1
0

## Задача 7
Число 179 записали 50 раз подряд. Полученное 150-значное число возвели в квадрат. Сколько получилось?

In [7]:
print(int('179' * 50) ** 2)

32105178251324397470543616689762835908982055128201274347420493566639712785858932005078151224297370443516589662735808881955028101174247320393466539612621548475402329256183110036963890817744671598525452379306233160087013940867794721648575502429356283210137063990917844771698625552479406333260187114041

## Задача 8
Дано два числа a и b. Выведите гипотенузу треугольника с заданными катетами.

In [8]:
import math

def task_8(a, b):
    print(math.hypot(a, b))


task_8(5, 12)
task_8(6, 8)
task_8(3, 4)

13.0
10.0
5.0

## Задача 9
Даны три целых числа. Найдите наибольшее из них (программа должна вывести ровно одно целое число).
Какое наименьшее число операторов сравнения (>, <, >=, <=) необходимо для решения этой задачи?

In [9]:
def task_9(a, b, c):
    print(max(a, b, c))


task_9(1, 2, 3)
task_9(5, 2, 3)

3
5

## Задача 10
Даны три натуральных числа a, b, c. Определите, существует ли треугольник с такими сторонами. Если треугольник существует, выведите строку YES, иначе выведите строку NO.
Треугольник — это три точки, не лежащие на одной прямой.

In [10]:
def task_10(a, b, c):
    if a + b > c and a + c > b and b + c > a:
        print('YES')
    else:
        print('NO')


task_10(1, 2, 3)
task_10(4, 2, 3)

NO
YES

## Задача 11
Шахматная ладья ходит по горизонтали или вертикали. Даны две различные клетки шахматной доски, определите, может ли ладья попасть с первой клетки на вторую одним ходом.

In [11]:
def task_11(x1, y1, x2, y2):
    if x1 == x2 or y1 == y2:
        print('Yes')
    else:
        print('NO')


task_11(1, 1, 5, 1)
task_11(0, 0, 11, 12)

Yes
NO

## Задача 12
Число $179^{10}$ записали четыре раза подряд. Из получившегося числа извлекли корень степени 10. Сколько получилось?

In [12]:
print(int(str(179 ** 10) * 4) ** .1)

1421847540.1564655

## Задача 13
Дано натуральное число. Требуется определить, является ли год с данным номером високосным. Если год является високосным, то выведите YES, иначе выведите NO. Напомним, что в соответствии с григорианским календарем, год является високосным, если его номер кратен 4, но не кратен 100, а также если он кратен 400.

In [13]:
def task_13(a):
    print('YES' if (not(a % 4) and a % 100) or not(a % 400) else 'NO')


task_13(1900)
task_13(2000)
task_13(1961)
task_13(1964)

NO
YES
NO
YES

## Задача 14
Шахматный конь ходит буквой “Г” — на две клетки по вертикали в любом направлении и на одну клетку по горизонтали, или наоборот. Даны две различные клетки шахматной доски, определите, может ли конь попасть с первой клетки на вторую одним ходом.

In [14]:
def task_14(x1, y1, x2, y2):
    dx = abs(x1 - x2)
    dy = abs(y1 - y2)

    print('YES' if dx == 1 and dy == 2 or dx == 2 and dy == 1 else 'NO')


task_14(1, 1, 2, 2)
task_14(1, 1, 3, 2)

NO
YES

## Задача 15
Даны два целых числа A и B (при этом A $\leq$ B). Выведите все числа от A до B включительно.

In [15]:
def task_15(A, B):
    for i in range(A, B + 1):
        print(i, end=' ')

task_15(1, 20)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

## Задача 16
По данному натуральном n вычислите сумму $1^2+2^2+3^2+ \ldots +n^2$.

In [16]:
def task_16(n):
    print(n * (n + 1) * (2 * n + 1) / 6)


task_16(10)

385.0

## Задача 17
По данному целому неотрицательному n вычислите значение n!.

In [17]:
def task_17(n):
    print(math.factorial(n))


task_17(10)

3628800

## Задача 18
По данным целым неотрицательным n и k вычислите значение числа сочетаний из n элементов по k, то есть $\frac{n!}{k!(n-k)!}$.

In [18]:
import math

def task_18(n, k):
    if n >= k:
        print(math.factorial(n) / (math.factorial(k) * math.factorial(n - k)))
    else:
        print('n must be greater or equal to k')


task_18(10, 12)
task_18(15, 12)

n must be greater or equal to k
455.0

## Задача 19
Напишите программу, которая по данному числу n от 1 до 9 выводит на экран n пингвинов. Изображение одного пингвина имеет размер 5×9 символов, между двумя соседними пингвинами также имеется пустой (из пробелов) столбец. Разрешается вывести пустой столбец после последнего пингвина. Для упрощения рисования скопируйте пингвина из примера в среду разработки.

In [19]:
penguine = ["   _~_    ",
            "  (o o)   ",
            " /  V  \ ",
            "/(  _  )\ ",
            "  ^^ ^^   "]

In [1]:
def task_19(n):
    penguine = ["   _~_    ",
                "  (o o)   ",
                " /  V  \  ",
                "/(  _  )\ ",
                "  ^^ ^^   "]

    if n < 1 or n > 9:
        print('Invalid n')
    else:
        for i in range(0, len(penguine)):
            print(penguine[i] * n)


task_19(5)

_~_       _~_       _~_       _~_       _~_
  (o o)     (o o)     (o o)     (o o)     (o o)
 /  V  \   /  V  \   /  V  \   /  V  \   /  V  \
/(  _  )\ /(  _  )\ /(  _  )\ /(  _  )\ /(  _  )\
  ^^ ^^     ^^ ^^     ^^ ^^     ^^ ^^     ^^ ^^

## Задача 20
Шоколадка имеет вид прямоугольника, разделенного на n×m долек. Шоколадку можно один раз разломить по прямой на две части. Определите, можно ли таким образом отломить от шоколадки ровно k долек.

In [21]:
def task_20(n, m, k):
    print('YES' if n * m > k and (not(k % n) or not(k % m)) else 'No')


task_20(2, 3, 2)
task_20(2, 3, 5)

YES
No

## Задача 21
Дано линейное уравнение $ax + b = 0$. Решите уравнение, напечатайте ответ. Если ответов бесконечно много, выведите "INF", если их нет - "NO".

In [22]:
def task_21(a, b):
    print('INF' if not(a) and not(b) else 'NO' if not(a) and b else -b / a)


task_21(1, 1)
task_21(5, 12)
task_21(0, 12)
task_21(0, 0)

-1.0
-2.4
NO
INF

## Задача 22
Квадрат трехзначного числа оканчивается тремя цифрами, равными этому числу. Найдите и выведите все такие числа.

In [23]:
for i in range(100, 1000):
        if(i ** 2 % 1000 == i):
            print(i)

376
625

## Задача 23
По данному натуральному $n \leq 9$ выведите лесенку из n ступенек, i-я ступенька состоит из чисел от 1 до i без пробелов.

In [24]:
def task_23(n):
    if n > 9:
        print('Invalid n')
    else:
        for i in range(1, n + 1):
            for j in range(1, i + 1):
                print(j, end='')
            print()


task_23(6)

1
12
123
1234
12345
123456

## Задача 24
Дано три числа. Упорядочите их в порядке неубывания. Программа должна считывать три числа a, b, c, затем программа должна менять их значения так, чтобы стали выполнены условия $a \leq b \leq c$, затем программа выводит тройку a, b, c.

In [25]:
a = int(input())
b = int(input())
c = int(input())

if a > b:
    a, b = b, a
if b > c:
    b, c = c, b
if a > b:
    a, b = b, a

print(a, b, c)

9
2
5
2 5 9

## Задача 25. Сумма факториалов
По данному натуральном n вычислите сумму 1! + 2! + 3! + ... +n!. В решении этой задачи можно использовать только один цикл.

In [26]:
import math

def task_25(n):
    sum = 0

    for i in range(1, n + 1):
        sum += math.factorial(i)

    print(sum)


task_25(10)

4037913